<article class="form-div">
  
  
  <form class="edit-post-form">
      <h2 class="text-center m-3"> Edit Post</h2>
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <small class="text-muted meta">
   by you on {{format_date post.created_at}}
  </small>
  <textarea name="content"> {{post.content}}</textarea>
    </div>
    <div>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
